.overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.35);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.modal{

    width:500px;

    background:white;

    border-radius:16px;

    padding:24px;

    display:flex;

    flex-direction:column;

    gap:18px;

}

.modal h2{

    margin:0;

}

.buttons{

    display:flex;

    justify-content:flex-end;

    gap:12px;

}