.toolbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:24px;

}

input{

    width:350px;

    padding:12px 14px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:15px;

}